RewriteEngine on
RewriteCond $1 !^(index.php|resources|robots.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]
SetEnvIf Host poojaiocl.appsmediaz.com$ CI_ENV=production
SetEnvIf Host petrolpump.local$ CI_ENV=development
